<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<h:body>
    <ui:composition template="/templates/page.xhtml">
        <ui:define name="header">
            <title>Meetings</title>
        </ui:define>

        <ui:define name="content">
            <h:form id="form">
                <p:dataTable id="meetingsTreeTable" editable="true"
                             editMode="rowEdit" rowIndexVar="rowId"
                             value="#{meetings.allMeetings}" var="meetingEntity">
                    <f:facet name="header">Meetings</f:facet>

                    <p:column headerText="#{msg['MEETING_ID']}">
                        <h:outputText value="#{meetingEntity.meetingId}"/>
                    </p:column>
                    <p:column headerText="#{msg['MEETING_TOPIC']}">
                        <h:outputText value="#{meetingEntity.topic}"/>
                    </p:column>
                    <p:column headerText="#{msg['MEETING_START_TIME']}">
                        <h:outputText value="#{meetingEntity.startTime}"/>
                    </p:column>
                    <p:column headerText="#{msg['MEETING_END_TIME']}">
                        <h:outputText value="#{meetingEntity.endTime}"/>
                    </p:column>
                    <p:column headerText="#{msg['MEETING_LOCATION']}">
                        <h:outputText converter="meetingLocationConverter" value="#{meetingEntity.meetingLocation}"/>
                    </p:column>
                </p:dataTable>

                <p:commandButton update=":form:meetingDialogPanel"
                                 oncomplete="PF('meetingEntity').show()" title="#{msg['DATAVIEW_CREATE_MEETING']}">
                    <f:setPropertyActionListener value="#{meetings.newMeeting}"
                                                 target="#{meetings.newMeeting}"/>
                </p:commandButton>

                <p:dialog id="createDialog" header="#{msg['DATAVIEW_CREATE_MEETING_DIALOG']}" showEffect="fade"
                          modal="true" resizable="true" widgetVar="meetingEntity">
                    <p:outputPanel id="meetingDialogPanel">
                        <p:panelGrid columns="2" columnClasses="label,value">
                            <h:outputLabel for="topic" value="#{msg['MEETING_TOPIC']}"/>
                            <h:inputText id="topic" value="#{meetings.newMeeting.topic}"
                                         style="font-weight:bold">
                                <f:validator validatorId="meetingTopicValidator" for="topic"/>
                            </h:inputText>

                            <h:outputLabel for="startTimeDatePicker" value="#{msg['MEETING_START_TIME']}"/>
                            <p:datePicker id="startTimeDatePicker"
                                          value="#{meetings.newMeeting.startTime}" showTime="true"
                                          required="true">
                            </p:datePicker>

                            <h:outputLabel for="durationDatePicker" value="#{msg['MEETING_END_TIME']}"/>
                            <p:datePicker id="durationDatePicker"
                                          value="#{meetings.newMeeting.endTime}" showTime="true">
                            </p:datePicker>

                            <h:outputLabel for="personsSelect" value="#{msg['MEETING_PERSONS']}"/>
                            <p:selectManyMenu id="personsSelect"
                                              value="#{meetings.selectedPersonsIds}" showCheckbox="true"
                                              required="true">
                                <f:selectItems value="#{meetings.allPersons}" var="elem"
                                               itemLabel="#{elem.name}" itemValue="#{elem.personId}"/>
                            </p:selectManyMenu>

                            <h:outputLabel for="locationSelect" value="#{msg['MEETING_LOCATION']}"/>
                            <p:selectOneMenu id="locationSelect"
                                             value="#{meetings.selectedMeetingId}">
                                <f:selectItems value="#{meetings.allLocations}" var="elem"
                                               itemLabel="#{elem.name}" itemValue="#{elem.id}"/>
                            </p:selectOneMenu>

                            <h:commandButton value="#{msg['DATAVIEW_CREATION_BUTTON']}"
                                             action="#{meetings.createMeeting}"/>
                        </p:panelGrid>
                    </p:outputPanel>
                </p:dialog>
            </h:form>
        </ui:define>
    </ui:composition>
</h:body>
</html>
