<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>Persons</title>
</h:head>
<h:body>
    <h:form>
        <p:outputLabel for="personName" value="Name"/>
        <p:inputText id="personName" value="#{person.personName}"/>

        <h:commandButton value="Search" action="#{person.searchForMeetings}"/>
    </h:form>

    <p:timeline rendered="#{person.hasEnteredUserName}" value="#{person.meetings}"/>
</h:body>
</html>
