<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head />
<h:body>
    <h:form id="menu">
        <p:growl id="growl" showDetail="true" sticky="true" />
        <p:panelGrid columns="2">
            <p:outputLabel for="username" value="Username" />
            <p:inputText id="username" value="#{login.enteredUsername}" />
            <p:outputLabel for="password" value="Password" />
            <p:password id="password" value="#{login.enteredPassword}" />
            <p:commandButton value="Login" action="#{login.doLogin}" update="@form" />
        </p:panelGrid>
    </h:form>
</h:body>
</html>