<ui:composition template="/templates/page.xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html">
    <ui:define name="content">
        <p>Menu: </p>
        <h:button outcome="meetings" value="Meetings"/>
        <h:button outcome="persons" value="Persons"/>
    </ui:define>
</ui:composition>
