<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>Meetings</title>
</h:head>
<h:body>
    <h:form id="form">
        <p:dataTable id="meetingsTreeTable" value="#{meetings.allMeetings}" var="meetingEntity">
            <f:facet name="header">Meetings</f:facet>
            <p:column headerText="ID">
                <h:outputText value="#{meetingEntity.meetingId}"/>
            </p:column>
            <p:column headerText="Topic">
                <h:outputText value="#{meetingEntity.topic}"/>
            </p:column>
            <p:column headerText="Start time">
                <h:outputText value="#{meetingEntity.startTime}"/>
            </p:column>
            <p:column headerText="Duration">
                <h:outputText value="#{meetingEntity.endTime}"/>
            </p:column>
        </p:dataTable>

        <p:commandButton update=":form:meetingDialogPanel" oncomplete="PF('meetingEntity').show()"
                         title="Create meeting">
            <f:setPropertyActionListener value="#{meetings.newMeeting}" target="#{meetings.newMeeting}"/>
        </p:commandButton>

        <p:dialog id="createDialog" header="New meeting" showEffect="fade" modal="true" resizable="true"
                  widgetVar="meetingEntity">
            <p:outputPanel id="meetingDialogPanel">
                <p:panelGrid columns="2" columnClasses="label,value">
                    <h:outputLabel for="topic" value="Topic: "/>
                    <h:inputText id="topic" value="#{meetings.newMeeting.topic}" style="font-weight:bold"/>

                    <h:outputLabel for="startTimeDatePicker" value="Start time: "/>
                    <p:datePicker id="startTimeDatePicker" value="#{meetings.newMeeting.startTime}" showTime="true"
                                  required="true"/>

                    <h:outputLabel for="durationDatePicker" value="Duration "/>
                    <p:datePicker id="durationDatePicker" value="#{meetings.newMeeting.endTime}" showTime="true"/>

                    <p:selectManyMenu id="personsSelect" value="#{meetings.selectedPersonsIds}" showCheckbox="true"
                                      required="true">
                        <f:selectItems value="#{meetings.allPersons}" var="elem" itemLabel="#{elem.name}"
                                       itemValue="#{elem.personId}"/>
                    </p:selectManyMenu>
                    <h:commandButton value="Create" action="#{meetings.createMeeting}"/>
                </p:panelGrid>
            </p:outputPanel>
        </p:dialog>
    </h:form>
</h:body>
</html>
