<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<h:body>
    <ui:composition template="/templates/page.xhtml">
        <ui:define name="header">
            <title>Main page</title>
        </ui:define>

        <ui:define name="content">
            <h:outputText value="#{msg['INDEX_MENU_HEADER']}"/>
            <br/>
            <h:button outcome="dataView" value="#{msg['INDEX_MEETINGS']}"/>
            <h:button outcome="dataEdit" value="#{msg['INDEX_EDIT']}"/>
            <h:button outcome="searchPage" value="#{msg['INDEX_SEARCH']}"/>
        </ui:define>
    </ui:composition>
</h:body>
</html>