<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<h:body>
    <ui:composition template="/templates/page.xhtml">
        <ui:define name="header">
            <title>Meetings</title>
        </ui:define>
        <ui:define name="content">
            <h:form id="search">
                <h:panelGrid columns="3">
                    <h:outputLabel for="topic" value="#{msg['MEETING_TOPIC']}: "/>
                    <h:inputText id="topic" value="#{meetings.editMeeting.topic}"
                                 style="font-weight:bold"/>
                    <h:selectBooleanCheckbox value="#{meetings.searchForTopic}"/>

                    <h:outputLabel for="startTimeDatePicker" value="#{msg['MEETING_START_TIME']}"/>
                    <p:datePicker id="startTimeDatePicker"
                                  value="#{meetings.editMeeting.startTime}" showTime="true"
                                  required="true"/>
                    <h:selectBooleanCheckbox value="#{meetings.searchForStartDate}"/>

                    <h:outputLabel for="durationDatePicker" value="#{msg['MEETING_END_TIME']}"/>
                    <p:datePicker id="durationDatePicker"
                                  value="#{meetings.editMeeting.endTime}" showTime="true"/>
                    <h:selectBooleanCheckbox value="#{meetings.searchForEndDate}"/>

                    <h:outputLabel for="durationDatePicker" value="#{msg['MEETING_PERSONS']}"/>
                    <h:commandButton value="#{msg['DATA_EDIT_GET_BUTTON']}" action="#{meetings.searchForMeetings}"/>
                </h:panelGrid>
            </h:form>

            <p:dataTable id="foundMeetingsTable" editable="true"
                         editMode="rowEdit" rowIndexVar="rowId"
                         value="#{meetings.foundMeetings}" var="meetingEntity">
                <f:facet name="header">Meetings</f:facet>

                <p:column headerText="#{msg['MEETING_ID']}">
                    <h:outputText value="#{meetingEntity.id}"/>
                </p:column>
                <p:column headerText="#{msg['MEETING_TOPIC']}">
                    <h:outputText value="#{meetingEntity.topic}"/>
                </p:column>
                <p:column headerText="#{msg['MEETING_START_TIME']}">
                    <h:outputText value="#{meetingEntity.startTime}"/>
                </p:column>
                <p:column headerText="#{msg['MEETING_END_TIME']}">
                    <h:outputText value="#{meetingEntity.endTime}"/>
                </p:column>
            </p:dataTable>
        </ui:define>
    </ui:composition>
</h:body>
</html>
