<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<h:body>
    <ui:composition template="/templates/page.xhtml">
        <ui:define name="header">
            <title>Meetings</title>
        </ui:define>

        <ui:define name="content">
            <h:form id="form">
                <h:panelGrid columns="2">
                    <h:outputLabel for="meetingTopicSelect" value="#{msg['MEETING_TOPIC']}"/>
                    <p:selectOneMenu id="meetingTopicSelect"
                                     value="#{meetings.selectedMeetingId}">
                        <f:selectItems value="#{meetings.allMeetings}" var="elem"
                                       itemLabel="#{elem.topic}" itemValue="#{elem.meetingId}"/>
                    </p:selectOneMenu>
                    <h:commandButton value="#{msg['DATA_EDIT_GET_BUTTON']}" action="#{meetings.getMeeting}"/>
                </h:panelGrid>
            </h:form>

            <h:form id="editForm">
                <h:panelGrid columns="2">
                    <h:outputLabel for="topic" value="#{msg['MEETING_TOPIC']}: "/>
                    <h:inputText id="topic" value="#{meetings.editMeeting.topic}"
                                 style="font-weight:bold"/>

                    <h:outputLabel for="startTimeDatePicker" value="#{msg['MEETING_START_TIME']}"/>
                    <p:datePicker id="startTimeDatePicker"
                                  value="#{meetings.editMeeting.startTime}" showTime="true"
                                  required="true"/>

                    <h:outputLabel for="durationDatePicker" value="#{msg['MEETING_END_TIME']}"/>
                    <p:datePicker id="durationDatePicker"
                                  value="#{meetings.editMeeting.endTime}" showTime="true"/>

                    <h:outputLabel for="durationDatePicker" value="#{msg['MEETING_PERSONS']}"/>
                    <p:selectManyMenu id="personsSelect"
                                      value="#{meetings.selectedPersonsIds}" showCheckbox="true"
                                      required="true">
                        <f:selectItems value="#{meetings.allPersons}" var="elem"
                                       itemLabel="#{elem.name}" itemValue="#{elem.personId}"/>
                    </p:selectManyMenu>

                    <h:outputLabel for="locationSelect" value="#{msg['MEETING_LOCATION']}"/>
                    <p:selectOneMenu id="locationSelect"
                                     value="#{meetings.selectedMeetingId}">
                        <f:selectItems value="#{meetings.allLocations}" var="elem"
                                       itemLabel="#{elem.name}" itemValue="#{elem.id}"/>
                    </p:selectOneMenu>

                    <h:commandButton value="#{msg['DATA_EDIT_UPDATE_BUTTON']}" action="#{meetings.updateMeeting}"/>
                </h:panelGrid>
            </h:form>
        </ui:define>
    </ui:composition>
</h:body>
</html>
